@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 
@import url('https://urdufonts.net/fonts/jameel-noori-nastaleeq-regular');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  flex-direction: column;
}


.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;

}
.main-header{
  text-align: center;
  font-family: 'jameel noori nastaleeq regular';
}
.main1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  margin-left: 20%;
  margin-right: 20%;
 
}


th{
  padding-left: 15px;
  list-style: upper-alpha;
  border-left: 3px red solid;
  font-family: 'jameel noori nastaleeq regular';
}
td{
  padding-left: 15px;
  list-style: upper-alpha;
  border-left: 3px red solid;
  font-family: 'jameel noori nastaleeq regular';
}

.header{
  font-family: 'jameel noori nastaleeq regular';
  

}